<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="p-4">
  <div class="d-flex justify-content-between align-items-end">
    <h1>Listado de Estudiantes.</h1>
    <img src="web.png" width="200" class="ms-3">
  </div>

  <div class="mb-3">
    <a href="{% url 'home:homeapp' %}">Home |</a>
    <a href="{% url 'home:estudiantesapp' %}"> Estudiantes |</a>
    <a href="{% url 'home:adminapp' %}"> Administradores |</a>
    <a href="{% url 'home:acercasapp' %}"> Acerca De</a>
  </div>

  <table class="table table-striped table-bordered table-hover mt-3">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Edad</th>
        <th>Ciudad</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Mario</td>
        <td>Gonzalez</td>
        <td>22</td>
        <td>Guatemala</td>
      </tr>
      <tr>
        <td>Juan</td>
        <td>Pérez</td>
        <td>20</td>
        <td>Quetzaltenango</td>
      </tr>
      <tr>
        <td>Lucía</td>
        <td>Martínez</td>
        <td>21</td>
        <td>Guatemala</td>
      </tr>
      <tr>
        <td>Carla</td>
        <td>Lopez</td>
        <td>23</td>
        <td>San Marcos</td>
      </tr>
      <tr>
        <td>Andrés</td>
        <td>Hernández</td>
        <td>24</td>
        <td>Escuintla</td>
      </tr>
    </tbody>
  </table>
</body>
</html>
