<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hoja de Trabajo 1</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body class="p-4">
    <div class="d-flex justify-content-between align-items-end">
        <h1>¡Bienvenidos!</h1>
        <img src="web.png" width="200" class="ms-3">
    </div>
    <div class="mb-3">
    <a href="index.html">Home |</a>
    <a href="estudiantes.html"> Estudiantes |</a>
    <a href="admin.html"> Administradores |</a>
    <a href="acerca.html"> Acerca De</a>
    </div>
    <ul class="list-group">
        <li class="list-group-item list-group-item-primary"><h2>Hoja de Trabajo 1.</h2></li>
        <li class="list-group-item list-group-item-primary"><h4>Actividad 1:</h4></li>
        <li class="list-group-item list-group-item-primary">Aplicar los conceptos básicos de programación web, para la solución de problemas
        reales.</li>
    </ul>
</body>
</html>